<?php

/**
 * @var $block \Magento\Framework\View\Element\Template
 * @var $viewModel \Envisage\CookieBanner\ViewModel\CookieBanner
 * @var $escaper \Magento\Framework\Escaper
 */
$viewModel = $block->getViewModel() ?? false;
$cookieBannerData = $viewModel ? $viewModel->getCookieBannerData() : [];

if ($cookieBannerData) {
    if ($cookieBannerData['display_mode'] == "pop-up-cookie-banner") {
?>
        <div class="cookie-banner" id="<?= $escaper->escapeHtml($cookieBannerData['display_mode']); ?>" style="display:none;">
            <div id="cookie-banner-inner" style="background-color: <?= $escaper->escapeHtml($cookieBannerData['background_colour']); ?>">
                <h1 id="cookie-title" style="color: <?= $escaper->escapeHtml($cookieBannerData['text_colour']); ?>">Cookies & Data Usage</h1>
                <p class="message" style="color: <?= $escaper->escapeHtml($cookieBannerData['text_colour']); ?>">
                    <?= $escaper->escapeHtml($cookieBannerData['message'] . ' ' . $cookieBannerData['link_separator']); ?>
                    <a class="learn-link" href="<?= $escaper->escapeHtml($cookieBannerData['learn_link']); ?>" style="color: <?= $escaper->escapeHtml($cookieBannerData['link_colour']); ?>"><?= $escaper->escapeHtml($cookieBannerData['learn_message']); ?></a>
                </p>
                <p>
                    <a class="hide-banner" href="javascript:;" style="color: <?= $escaper->escapeHtml($cookieBannerData['link_colour']); ?>"><?= $escaper->escapeHtml($cookieBannerData['hide_message']); ?></a>
                </p>
            </div>
        </div>
    <?php } else { ?>
        <div class="cookie-banner" id="<?= $escaper->escapeHtml($cookieBannerData['display_mode']); ?>" style="background-color: <?= $escaper->escapeHtml($cookieBannerData['background_colour']); ?>; display:none;">
            <p class="message" style="color: <?= $escaper->escapeHtml($cookieBannerData['text_colour']); ?>">
                <?= $escaper->escapeHtml($cookieBannerData['message'] . ' ' . $cookieBannerData['link_separator']); ?> <a class="learn-link" href="<?= $escaper->escapeHtml($cookieBannerData['learn_link']); ?>" style="color: <?= $escaper->escapeHtml($cookieBannerData['link_colour']); ?>"><?= $escaper->escapeHtml($cookieBannerData['learn_message']); ?></a>
            </p>
            <p>
                <a class="hide-banner" href="#" style="color: <?= $escaper->escapeHtml($cookieBannerData['link_colour']); ?>"><?= $escaper->escapeHtml($cookieBannerData['hide_message']); ?></a>
            </p>
        </div>
    <?php } ?>

    <script type="text/x-magento-init">
        {
        "*": {
            "Envisage_CookieBanner/js/cookie-toggle": {}
        }
    }
    </script>

    <?php if ($cookieBannerData['custom_css']) { ?>
        <style type="text/css">
            <?= $escaper->escapeHtml($cookieBannerData['custom_css']); ?>
        </style>
<?php }
}
?>
