// banner styling
#top-page-cookie-banner, #bottom-page-cookie-banner {
  position: fixed;
  z-index: 999;
  padding: 15px;
  text-align: center;
  width: 100%;
  p {
    display: inline-block;
    margin: 0;
  }
}

/* fixed top of page styling */
#top-page-cookie-banner {
  top: 0;
}
/* fixed bottom of page styling */
#bottom-page-cookie-banner {
  bottom: 0;
}

/* pop up styling */
#pop-up-cookie-banner {
  z-index: 999;
  background-color: rgba(0,0,0,0.4);
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: auto;
  #cookie-banner-inner {
    background-color: white;
    width: 50%;
    margin: 10% 25%;
    padding: 30px;
    text-align: center;
    border-radius: 5px;
    .message {
      margin-bottom: 15px;
      display: inline-block;
    }
  }
}

